@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, 
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  @apply text-gray-500;         /* grabs from tailwind.config */
}


/*==================================================================*/

.COLORS-USED-ORIGINALLY-IN-----tailwind.config.js{
  --gray-20: #ebf4f8;     /* bluish*/
  --gray-20: #F8F4EB;     /* orangish */
  --gray-50: #EFE6E6;
  --gray-100: #DFCCCC;
  --gray-500: #5E0000;
  --primary-100: #FFE1E0;
  --primary-300: #FFA6A3;
  --primary-500: #FF6B66;
  --secondary-400: #FFCD5B;
  --secondary-500: #FFC132;


  /* --- #1964d4 --- */
    --100: #d1e0f6;
    --200: #a3c1ee;
    --300: #75a2e5;
    --400: #4783dd;
    --500: #1964d4;
    --600: #1450aa;
    --700: #0f3c7f;
    --800: #0a2855;
    --900: #05142a;
  
  /* --- crimson --- */
    --100: #f8d0d8;
    --200: #f1a1b1;
    --300: #ea728a;
    --400: #e34363;
    --500: #dc143c;
    --600: #b01030;
    --700: #840c24;
    --800: #580818;
    --900: #2c040c;


  /* --- FF6B66 --- */
    --100: #ffe1e0;
    --200: #ffc4c2;
    --300: #ffa6a3;
    --400: #ff8985;
    --500: #ff6b66;
    --600: #cc5652;
    --700: #99403d;
    --800: #662b29;
    --900: #331514;

    
  /* --- grey --- */
    --100: #e6e6e6;
    --200: #cccccc;
    --300: #b3b3b3;
    --400: #999999;
    --500: #808080;
    --600: #666666;
    --700: #4d4d4d;
    --800: #333333;
    --900: #1a1a1a;

  /* --- green --- */
      --100: #cce6cc;
      --200: #99cc99;
      --300: #66b366;
      --400: #339933;
      --500: #008000;
      --600: #006600;
      --700: #004d00;
      --800: #003300;
      --900: #001a00;

  /* --- gold --- */
      --100: #fff7cc;
      --200: #ffef99;
      --300: #ffe766;
      --400: #ffdf33;
      --500: #ffd700;
      --600: #ccac00;
      --700: #998100;
      --800: #665600;
      --900: #332b00;




  /* --- beige --- */
    --100: #f2ede5;
    --200: #e5dbcb;
    --300: #d8c9b1;
    --400: #cbb797;
    --500: #bea57d;
    --600: #988464;
    --700: #72634b;
    --800: #4c4232;
    --900: #262119;

  /* --- magenta --- */
    --100: #ffccff;
    --200: #ff99ff;
    --300: #ff66ff;
    --400: #ff33ff;
    --500: #ff00ff;
    --600: #cc00cc;
    --700: #990099;
    --800: #660066;
    --900: #330033;

  /* --- coral --- */
    --100: #ffe5dc;
    --200: #ffccb9;
    --300: #ffb296;
    --400: #ff9973;
    --500: #ff7f50;
    --600: #cc6640;
    --700: #994c30;
    --800: #663320;
    --900: #331910;

  /* --- orange --- */
    --100: #ffedcc;
    --200: #ffdb99;
    --300: #ffc966;
    --400: #ffb733;
    --500: #ffa500;
    --600: #cc8400;
    --700: #996300;
    --800: #664200;
    --900: #332100;
}


/*==================================================================*/

:root{      /* from Website-Layouts repo , website-10 */
  font-size: 16px;
  font-family: "Open Sans";

  --primary-color: rgb(87, 148, 228);     /* azure - rgb(102, 235, 235) */
  --primary-color: rgb(247, 218, 56);       /* gold */
  --title-color: black;
  --text-color: gray;
  --border-color: indigo;

  /* Gradient Colors */
  --gradient: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  --gradient-mango: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  --gradient-puddle: linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);
  --gradient-flame: linear-gradient(90deg, hsla(52, 82%, 52%, 1) 0%, hsla(1, 92%, 47%, 1) 100%);
  --gradient-flamingo: linear-gradient(90deg, hsla(341, 94%, 49%, 1) 0%, hsla(16, 90%, 77%, 1) 100%);

  /* Other Colors */
  --dark: #302f25;           /* based on outer space crayola */
  --gray: #808291;
  --light: #ece365;
  --white: #fff;
  --magenta: magenta;
  --beige: #BEA57D;
  --coral: coral;
  --crimson: rgb(224, 47, 82);              /* rgb(221, 40, 76) */
  --green: #4acf53;           /* based on mantis */
  --blue: #3cDBD3;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
  --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
  --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}
